@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

:root {
  --font-family: "Lexend";
  font-weight: 300;
  font-size: 14px;
  --dark-color: #121212;
  --light-color: #faf4e0;
  --golden-color: #ffd700;
  --wine-color: #d32f2f;
  --wine-color-lowopacity: #d32f2f4e;
}

* {
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  padding: 0;
  margin: 0;
}

/* LA SECTION HEADER CI-DESSOUS */
/* LA SECTION HEADER CI-DESSOUS */
/* LA SECTION HEADER CI-DESSOUS */

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark-color);
  color: var(--light-color);
  padding: 0 1rem;
  background-image: url("./img/header-bg-test1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.942));
}

.logoTitle {
  display: flex;
  padding: 0.5rem;
  align-items: center;
}

header h1 {
  font-size: 8rem;
  font-weight: 200;
  font-family: "Abril Fatface";
  margin: 0;
  filter: drop-shadow(0 1px 10px rgba(31, 31, 31, 0.942));
  text-shadow: 0px 1px 2px #000000;
  text-shadow: 0px 1px 5px #0f0f0f;
  text-shadow: 0px 1px 2px #141414;
  text-shadow: 1px 2px 3px #313131, 0 0 0 #000, 1px 2px 3px #000000;
  /* (ajouter un clamp plus tard pour le responsive) */
}

@media screen and (max-width: 768px) {
  header h1 {
    display: none;
  }
}

.headmenu {
  top: 0;
  right: 0;
  position: absolute;
  display: flex;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .headmenu {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

.btnheader {
  border: none;
  outline: none;
  margin-top: 7px;
  margin-right: 5px;
  padding: 12px 14px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 0.9rem;
  border-radius: 5px;
}

.btnheader:hover {
  background-color: #ddd;
}

@media screen and (max-width: 768px) {
  .btnheader {
    font-size: 1.2rem;
    margin-top: 0px;
  }
}

/* LA SECTION MAIN + BOUTONS FILTRES CI DESSOUS */
/* LA SECTION MAIN + BOUTONS FILTRES CI DESSOUS */
/* LA SECTION MAIN + BOUTONS FILTRES CI DESSOUS */

.filter-btn-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 1rem 0;
  margin: 5px 10px;
}

@media screen and (max-width: 768px) {
  .filter-btn-container {
    gap: 10px;
    margin: 0 5px;
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0 0 5px 10px rgb(255, 255, 255);
    padding: 5px 0;
    margin: 0 10px;
    z-index: 10;
  }
}

.filter-btn {
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 1.2rem;
  padding: 12px 12px;
  background-color: #f1f1f1;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.filter-btn span {
  font-size: 0.8rem;
}

@media screen and (max-width: 768px) {
  .filter-btn {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
  }

  .filter-btn span {
    display: none;
  }
}

.filter-btn:hover {
  background-color: #ddd;
  box-shadow: 0px 0px 2px #000000dd;
}

.filter-btn.active {
  background-color: #666;
  color: white;
}

.movies-container-all {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0;
  padding-bottom: 10px;
  min-height: 60vh;
}

.film-card-container {
  background-color: #f7f7f7;
  border: 2.3px dashed #3e3e3e7c;
  border-radius: 10px;
  padding: 15px;
  width: 18.5rem;
  margin: 10px 20px;
}

.film-card-container:hover,
.film-card-container:focus,
.film-card-container:active {
  background-color: #f1f1f1;
  transform: scale(1.05);
  box-shadow: 0px 0px 8px #0f0f0f34;
  cursor: pointer;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.affiche-container {
  width: 180px;
  padding-right: 0.65rem;
}

.film-title {
  display: inline-block;
  margin-bottom: 15px;
  font-weight: 850;
  font-size: 16px;
  color: var(--dark-color);
}

.affiche {
  background-color: #add8e6;
  aspect-ratio: 2 / 3;
  min-height: 160px;
  display: flex;
  background-size: cover;
  background-position: center;
  border: 1px solid #0000002c;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.film-description > h4 {
  margin: 0;
}

.film-info {
  width: 65%;
}

.film-details label {
  font-weight: 400;
  display: inline-block;
  margin: 0;
}

.film-details p {
  display: inline-block;
  margin: 1px 0;
}

.film-details {
  font-size: 15px;
  color: var(--dark-color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.trailer-link {
  font-size: 14px;
  color: var(--dark-color);
  text-decoration: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 110px;
  margin-top: 3px;
  font-weight: 400;
  background-color: #dfdfdfc9;
  border: 1px solid #0000002c;
  line-height: 0.5rem;
}

.youtube-icon {
  height: 35px;
  width: 35px;
  filter: drop-shadow(0 0 1px rgba(255, 255, 255, 0.49));
}

.film-description {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.film-synopsis {
  margin-top: 5px;
  display: -webkit-box;
  width: 100%;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: 4em;
  transition: all 0.5s ease-in-out;
}

.film-synopsis.show {
  -webkit-line-clamp: 30;
  line-clamp: 30;
  overflow: visible;
  max-height: 40em;
  transition: all 0.5s ease-in-out;
  opacity: 1;
  animation: fadeIn 1.5s;
  transition-delay: 0s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.watchlist-toggle-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.add-watchlist {
  background-color: #c52020;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
  align-self: center;
}

.add-watchlist:hover {
  background-color: #982626;
}

.remove-watchlist {
  background-color: #ab9f9d;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
  align-self: center;
  /* visibility: hidden; */
  /* display: none; */
}

.remove-watchlist:hover {
  background-color: #635b5b;
}

/* LA SECTION BARRE DE RECHERCHE CI-DESSOUS */
/* LA SECTION BARRE DE RECHERCHE CI-DESSOUS */
/* LA SECTION BARRE DE RECHERCHE CI-DESSOUS */

.search-box-div {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: white;
  position: absolute;
  top: 0;
  right: 250px;
  transition: 0.5s;
  overflow: hidden;
  margin-top: 2px;
}

@media screen and (max-width: 768px) {
  .search-box-div {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    top: auto;
    z-index: 10;
  }
}

.search-box-div .search-content {
  position: absolute;
  right: 25px;
  top: 25px;
  transform: translate(50%, -50%);
}

.search-box-div .search-content .search {
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  background-color: var(--wine-color-lowopacity);
  border-radius: 50px;
  padding: 10px;
}

.search-box-div.active {
  width: 350px;
}

.search-box-div .search-input {
  visibility: hidden;
  display: none;
  position: relative;
  width: 300px;
  height: 100%;
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-box-div.active .search-input {
  visibility: visible;
}

.search-box-div .search-input input {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 18px;
  outline: none;
}

.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
    overflow: hidden;
    display: flex;
    flex-flow: wrap;
    gap: 0.2rem;
    padding: 0.5rem 0 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.research {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: aliceblue;
}

.back-to-top {
  position: fixed;
  bottom: 70px;
  right: 15px;
  z-index: 999;
  background-color: white;
  border-radius: 50px;
  padding: 5px;
  visibility: hidden;
}

.back-to-top-button {
  display: block;
  width: 40px;
  height: 40px;
  background-color: var(--wine-color-lowopacity);
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.back-to-top-button:hover {
  background-color: #bfabab;
}

.back-to-top-button i {
  font-size: 30px;
}

/* footer */

footer {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-color);
  padding: 1.5rem 1rem;
  gap: 10px;
}

@media screen and (min-width: 760px) {
  footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
  }
}

.title-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  font-size: 32px;
  color: var(--light-color);
  margin: 0;
}

footer p {
  font-size: 16px;
  color: var(--light-color);
  font-family: var(--font-family);
}

.reseaux {
  display: flex;
  align-items: center;
  justify-content: space-around;
  justify-content: center;
}

div > a > img {
  width: 45px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var#faf4e0;
  list-style-type: none;
  padding-left: 0;
}

ul > li > a {
  text-decoration: none;
  font-size: 1 rem;
  white-space: nowrap;
  color: var(--light-color);
  font-family: var(--font-family);
}
